<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <input matInput type="text" ngModel placeholder="Post Title" name="title" required minlength="3" #postTitle="ngModel">
        <mat-error *ngIf="postTitle.invalid">Title is required</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput ngModel placeholder="Post Content" name="content" required #postContent="ngModel"></textarea>
        <mat-error *ngIf="postContent.invalid">Post Content is required</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>


